.pagebutton {
    text-align: center;
    justify-content: center;
}

.open_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

  text-align: center;

}

.open_header{
  border: 1px solid #dddddd;
  text-align: center;
  background: black;
  color: white;
}

.base_body_background {
    background-color: whitesmoke;

    max-width: 90%;
    margin: auto;
}

