.pagebutton {
    text-align: center;
}

.open_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.open_header, .active_users, .active_devices, .open_tickets{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

