{% extends "./base.html" %}
{% block title %}Devices{% endblock title %}

{% block content %}

<h1>{{ header_text }}</h1>
    {% if page_obj %}
    <div class="table-responsive open_table">
    <table class="table table-striped table-hover table-bordered">
        <thead class="open_header">
        <tr>
            <th>Device ID</th>
            <th>Device nodename</th>
            <th>Device type</th>
            <th>Purchase date</th>
            <th>Warranty end</th>
            <th>State</th>
            <th>Owner</th>
        </tr>
        </thead>
        {% for device in page_obj %}
        <tr>
            <td>{{ device.id }}</td>
            <td><a href="/device/{{ device.node_id }}">{{ device.node_id }}</a> </td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.purchase_date }}</td>
            <td>{{ device.warranty }}</td>
            <td>{{ device.state }}</td>
            <td>{{ device.owner }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <p>No active devices.</p>
    {% endif %}

<div class="pagination pagebutton">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark" href="?page=1">&laquo; first</a>
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
</div>
<a class="btn btn-outline-dark" href="/all_devices_xlsx">Download as .xlsx</a>


{% endblock content %}