{% extends "./base.html" %}
{% block title %}All active users{% endblock title %}

{% block content %}
    <h1>Active users</h1>
    {% if users %}
    <table class="open_table table table-striped">
        <tr>
            <th class="open_header">Username</th>
            <th class="open_header">First name</th>
            <th class="open_header">Middle name</th>
            <th class="open_header">Last name</th>
            <th class="open_header">SVD</th>
            <th class="open_header">Role</th>

        </tr>
        {% for user in users %}
        {% if user.is_active != 0 %}
        <tr>
            <td class="active_users"> <a href="/user/{{ user.id }}">{{ user.username }}</a> </td>
            <td class="active_users">{{ user.first_name }}</td>
            <td class="active_users">{{ user.middle_name }}</td>
            <td class="active_users">{{ user.last_name }}</td>
            <td class="active_users">{{ user.svd }}</td>
            <td class="active_users">{{ user.title }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <p>No active users.</p>
    {% endif %}

{% endblock content %}
