{% extends "./base.html" %}

{% block title %}Open tickets{% endblock title %}

{% block content %}
<h1>{{ header_text }}</h1>
    {% if tickets %}
        <table class="open_table table table-striped">
            <tr>
                <th class="open_header">Ticket number</th>
                <th class="open_header">Affected user</th>
                <th class="open_header">Description</th>
                <th class="open_header">Assigned user</th>
                <th class="open_header">Assigned SVD</th>
            </tr>
            {% for ticket in tickets %}
            <tr>
                <td class="open_tickets"><a href="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></td>
                <td class="open_tickets">{{ ticket.affected_user }}</td>
                <td class="open_tickets">{{ ticket.description }}</td>
                <td class="open_tickets">{{ ticket.assigned_user }}</td>
                <td class="open_tickets">{{ ticket.assigned_svd }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No tickets are open.</p>
    {% endif %}

<div class="pagebutton">
<a class="btn btn-outline-dark" href="{% url 'ticket_app:all_tickets' page=prev_page %}" role="button">Previous</a>
<a class="btn btn-outline-dark" href="{% url 'ticket_app:all_tickets' page=next_page %}" role="button">Next</a>
</div>

{% endblock content %}