{% extends "./base.html" %}

{% block title %}Open tickets{% endblock title %}

{% block content %}
<h1>{{ header_text }}</h1>
    {% if page_obj %}
        <div class="table-responsive open_table light-background">
        <table class="table table-striped table-hover table-bordered">
            <thead class="open_header">
            <tr>
                <th>Ticket number</th>
                <th>Affected user</th>
                <th>Description</th>
                <th>Assigned user</th>
                <th>Assigned SVD</th>
            </tr>
            </thead>
            {% for ticket in page_obj %}
            <tr>
                <td><a href="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></td>
                <td >{{ ticket.affected_user }}</td>
                <td >{{ ticket.description }}</td>
                <td >{{ ticket.assigned_user }}</td>
                <td >{{ ticket.assigned_svd }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <p>No tickets are open.</p>
        {% endif %}

        <div class="pagination pagebutton">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark" href="?page=1">&laquo; first</a>
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

{% endblock content %}