{% extends "./base.html" %}

{% block title %}{{ device.node_id }}{% endblock title %}

{% block content %}
<form action="{% url 'ticket_app:deviceview' device.node_id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Details for {{ device.node_id }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td>Owner:</td>
        <td><input class="form-control-sm" name="owner" value="{{ device.owner }}">
        </td>

        <td>Device type:</td>
        <td><input class="form-control-sm" name="device_type" value="{{ device.device_type }}">
        </td>

        <td>State:</td>
        <td>
          <select name="state">
          <option value="In warehouse" selected>In warehouse</option>
          <option value="Under repair">Under repair</option>
          <option value="In use">In use</option>
          <option value="Decomissioned">Decomissioned</option>
          </select>
        </td>

      </tr>
      <tr>
        <td>Purchase date:</td>
        <td><input class="form-control-sm" name="purchase_date" value="{{ device.purchase_date }}">
        </td>

        <td>Warranty:</td>
        <td><input class="form-control-sm" name="warranty" value="{{ device.warranty }}">
        </td>
      </tr>
    </table>
  </fieldset>
  <input type="submit" value="Submit">
</form>

{% endblock content %}