{% extends "./base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
Note to self: make the results clickable so create device and user page as well

<h3>Search results for {{ search_term }}</h3>
<hr>
<h2>Users:</h2>
    {% for user in users_search %}
        {{ user.username }}
    {% endfor %}
<hr>
<h2>Tickets:</h2>
    {% for ticket in ticket_search %}
        <a href="/ticket/{{ ticket.id }}">{{ ticket.id }} - {{ ticket.description }}</a>
        <br>
    {% endfor %}
<hr>
<h2>Devices:</h2>
    {% for device in device_search %}
        {{ device.node_id }} - {{ device.owner }}
    {% endfor %}
<hr>
<h2>Knowledge articles:</h2>
    {% for kb_article in kb_search %}
        {{ kb_article.id }} - {{ kb_article.description }}
    {% endfor %}

{% endblock content %}