<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<a href="/all">Back to all open tickets</a>
<form action="{% url 'ticket_app:ticket' tickets.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Ticket number: {{ tickets.id }} - Status: {{ tickets.state }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <table>
            <tbody>
            <tr>
                <td>Affected user: </td>
                <td><select name="affected_user">
                    <option value={{ tickets.affected_user }}>{{ tickets.affected_user }}</option>
                    <option value={{ tickets.affected_user }}>----</option>
                    {% for user in users %}
                    <option value={{ user }}>{{ user }}</option>
                    {% endfor %}
                </select>
                </td>
                <td>Assigned user: </td>
                <td><select name="assigned_user">
                    <option value={{ tickets.assigned_user }}>{{ tickets.assigned_user }}</option>
                    <option value={{ tickets.assigned_user }}>----</option>
                    {% for user in users %}
                    <option value={{ user }}>{{ user }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Device ID: </td>
                <td><select name="affected_device">
                {% for device in devices %}
                <option value={{ device }} selected>{{ device }}</option>
                {% endfor %}
            </select>
                </td>
                <td>Assigned SVD: </td>
                <td><select name="assigned_svd">
                    <option value={{ tickets.assigned_svd }}>{{ tickets.assigned_svd }}</option>
                    <option value={{ tickets.assigned_svd }}>----</option>
                    {% for user in users %}
                    <option value={{ user.svd }}>{{ user.svd }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Description: </td><td><textarea rows="6" cols="80" name="description">{{ tickets.description }}</textarea></td>
            </tr>
            <tr>
                <td>State: </td><td><select name="state">
                {% if tickets.state == "Open" %}
                <option value="Open" selected>{{ tickets.state }}</option>
                <option value="Closed">Closed</option>
                {% else %}
                <option value="Closed" selected>{{ tickets.state }}</option>
                <option value="Open">Open</option>
                {% endif %}
                </select></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <input type="submit" value="Submit">
</form>
</body>
</html>



