{% extends "./base.html" %}
{% block title %}{{ tickets.id }}{% endblock title %}

{% block content %}
<form action="{% url 'ticket_app:ticket' tickets.id %}" method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Ticket number: {{ tickets.id }} - Status: {{ tickets.state }}</h1>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="centered_field"><h5>Affected user:</h5></td>
                        <td class="centered_field"><input class="form-control-sm" list="affected_user_list" name="affected_user"
                                   value="{{ tickets.affected_user }}">
                            <datalist id="affected_user_list">
                                {% for user in users %}
                                <option value={{ user }}>
                                    {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="centered_field"><h5>Assigned user:</h5></td>
                            <td class="centered_field"><input class="form-control-sm" list="assigned_user_list" name="assigned_user"
                                       value="{{ tickets.assigned_user }}">
                                <datalist id="assigned_user_list">
                                    {% for user in users %}
                                    <option value={{ user }}>
                                        {% endfor %}
                                </datalist>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="centered_field"><h5>Device ID:</h5></td>
                        <td class="centered_field"><input class="form-control-sm" list="device_list" name="affected_device"
                                   value="{{ tickets.affected_device }}">
                            <datalist id="device_list">
                                {% for device in devices %}
                                <option value={{ device }}>
                                    {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="centered_field"><h5>Assigned SVD:</h5></td>
                        <td class="centered_field"><input class="form-control-sm" list="assigned_svd_list" name="assigned_svd"
                                   value="{{ tickets.assigned_svd }}">
                            <datalist id="assigned_svd_list">
                                {% for svd in svds %}
                                <option value={{ svd }}>
                                    {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="centered_field"><h5>State:</h5></td>
                        <td class="centered_field"><select name="state">
                            {% if tickets.state == "Open" %}
                            <option value="Open" selected>{{ tickets.state }}</option>
                            <option value="Closed">Closed</option>
                            {% else %}
                            <option value="Closed" selected>{{ tickets.state }}</option>
                            <option value="Open">Open</option>
                            {% endif %}
                        </select></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="centered_field"><h5>Priority:</h5></td>
                        <td class="centered_field">
                            <select name="priority">
                                {% for prio in priority %}
                                {% if prio  == tickets.priority %}
                                <option value="{{ tickets.priority }}" selected>{{ tickets.priority }}</option>
                                {% else %}
                                <option value="{{ prio }}">{{ prio }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="col-sm-12">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td style="width:25%"><h5 class="desc_update">Description:</h5></td>
                        <td><textarea rows="6" name="description">{{ tickets.description }}</textarea></td>
                    </tr>
                    <tr>
                        <td><h5 class="desc_update">Update notes:</h5></td>
                        <td><textarea name="update_note">Enter update here</textarea></td>
                    </tr>
                    <tr>
                        <td><h5 class="desc_update">Action history:</h5></td>
                        {% for actions in history %}
                        <tr>
                        <td></td>
                        <td><textarea name="actions" disabled>{{ actions }}</textarea></td>
                        </tr>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
    </div>
    <input class="btn btn-outline-dark" type="submit" value="Submit">
</form>

{% endblock content %}
