{% extends "./base.html" %}

{% block title %}{{ users.username }}{% endblock title %}

{% block content %}
<form action="{% url 'ticket_app:userview' users.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Details for {{ users.username }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>First Name:</td>
                <td><input class="form-control-sm" name="first_name" value="{{ users.first_name }}">
                </td>

                <td>Middle name:</td>
                <td><input class="form-control-sm" name="middle_name" value="{{ users.middle_name }}">
                </td>

                <td>Last name:</td>
                <td><input class="form-control-sm" name="last_name" value="{{ users.last_name }}">
                </td>
            </tr>
            <tr>
                <td>Job title:</td>
                <td><input class="form-control-sm" name="title" value="{{ users.title }}">
                </td>

                <td>SVD:</td>
                <td><input class="form-control-sm" name="svd" value="{{ users.svd }}">
                </td>

                <td>State:</td>
                <td><select name="state">
                    {% if users.state == "Active" %}
                    <option value="Active" selected>Active</option>
                    <option value="Inactive">Inactive</option>
                    {% else %}
                    <option value="Inactive" selected>Inactive</option>
                    <option value="Active">Active</option>
                    {% endif %}
                </select></td>
            </tr>
            <tr>
                <td>Account creation date:</td>
                <td><input class="form-control-sm" name="creation_date" value="{{ users.creation_date }}" disabled>
                </td>
            </tr>
        </table>
        </table>
    </fieldset>
    <input type="submit" value="Submit">
    </form>

{% endblock content %}